<h1>メモ一覧</h1>
<ul class="navbar-nav">
  <li class="nav-item">
    <%= link_to "メモを新規作成", new_memo_path, class: "btn btn-info btn-block", style: "color: #FFEDB3; background-color:#000080;" %>
  </li>
  <li class="nav-item">
    <%= render partial: "genre_select" %>
  </li>
</ul>
<div id="memos-container">
  <%= render partial: "memos_list", locals: { memos: @memos } %>
</div>

